p {
  background-color: #ec5aa3;
  font-family: Verdana, sans-serif;
}
#second {
  color:#0000ff;
  font-size: 36px;  
}
#third {
  font-size: 24px;
}
#fourth {
  font-size: 24px;
  font-weight: 700;
  background-color: rgb(180, 238, 121);
}  